@import '../../index.scss';

.brdr{
border: $borderColor solid $borderHeight;
}

.clr{
    color: $secondFontColor;
}


.card {
    @media (max-width: 768px) {
      width: 50%;
      margin: auto; 
    }
  }
 
  